# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f373beb53b11298c9f62b9fd391e4f2b08042a6f474d42c95aab6274fa08778c6111da9ae26136e366e027230bb0ebf84777bd0a699c39d6bfb1b40b72e03d55

test:
  secret_key_base: 1d6f2cb9c569e59e3ec3c61fef20cc9b129d3e580f1fffad82e2b56ba617bc5d9a2e9d26e4a28a54b30a203d15f02195d1d7f5fedf12861f8d14d70572a3fa4f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
